* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;

}

:root {
    --primary-color: #0F1B4C;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 18px 16px;
    min-width: 98px;
    border-radius: 12px;
    background-color: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.8;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
.header {
    position: relative;
    background-color: #E6F0FF;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar .list-navbar {
    display: flex;
    margin-left: 50px;
}

.navbar .list-navbar a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4F5361;
    padding: 8px 14px;
}

.navbar .list-navbar a:hover {
    text-decoration: underline;
}

.navbar .action{
    margin-left: auto;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
}

.navbar .btn-action {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 50.4%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.1875; /* 118.75% */
}

.hero .desc {
    margin-top: 30px;
    color: #5A6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77778; /* 177.778% */
}

.hero .btn-cta {
    margin-top: 40px;
    min-width: 170px;
    border-radius: 8px;
}

.hero .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* clients */

.clients {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.clients .row{
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    color: #7D8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
}

/* guides */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.guides .sub-title::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background-color: #000339;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    color: #5A6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
    margin: 20px auto 0;
    width: 459px;
    max-width: 100%;
}

.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item p {
    margin-top: 26px;
    color: #3B3C45;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.guide-item .link {
    margin-top: 16px;
    display: inline-flex;
    align-items: center;
    color: #0689FF;
}

.guide-item .link span {
    color: #0689FF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 8px;
}

.btn-guide {
    margin-top: 50px;
    text-align: center;
    padding: 18px 20px;
    
}

.btn-guide .btn{
    min-width: 170px;
}

/* Features */
.features {
    margin-top: 41px; 
    padding: 110px 0; 
    background: #F5FAFE;  
}

.features .title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.features .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.features .desc {
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}

.features .link {
    display: flex;
    align-items: center;
    color: #0689FF;
}

.features .link span {
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 8px;
}

.features .list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.features .item {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
}

.features .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.features .item .body {
    padding: 17px 20px 24px;
}

.features .item .body .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}

.features .item .body .desc {
    --line-clamp: 3;
    color: #A3A6AB;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 11px;
    margin-bottom: 21px;
    word-break: break-all;
}

.features .item .info {
    display: flex;
    align-items: center;
}

.features .item .info .icon {
    margin-left: 22.7px;
}

.features .item .info .icon:first-child {
    margin-left: 0;
}

.features .item .info .label {
    color: #444;
    font-size: 1.4rem;
    margin-left: 8px;
    font-weight: 500;
}

/* Stats */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    border-radius: 0 0 12px 12px;
    background: #FFF;
    box-shadow: 90px 85px 100px 0 rgba(0, 0, 0, 0.06);
    padding: 45px 22px 40px;
}

.stats-trend .row {
    justify-content: space-between;
}

.stats .row .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.26px;
}

.stats .row .value span {
    font-weight: 500;
}

.stats-trend .desc {
    color: #A7A7A7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    margin-top: 8;
}

.stats-trend .separate {
    height: 1px;
    margin-top: 25px;
    background: #E9E9E9;
}

.stats-trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 26px;
    gap: 16px 14px;
}

.stats-trend .avatar-group {
    display: flex;
}

.stats-trend .avatar-group .avatar {
    line-height: 16px;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -3px;
    color: #FFF;
    font-size: 0.7rem;
    font-weight: 450;
    letter-spacing: -0.145px;
}

.stats-trend .avatar-group .avatar:first-child {
    margin-left: 0;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28571; /* 128.571% */
}

.stats .info .title::before {
    position: absolute;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    left: 0;
    top: -10px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}

.row-quantity {
    margin-top: 110px;
    justify-content: space-between;
    width: 1048px;
}

.row-quantity .quantity {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.row-quantity .quantity-desc {
    margin-top: 22px;
    color: #7B8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/* Subcription */

.subcription {
    margin-top: 90px;
}

.subcription .body {
    height: 370px;
    border-radius: 20px;
    background: #063183;
    display: flex;
    align-items: center;
}

.subcription .info {
    padding: 0 80px;
}

.subcription .info .title {
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.subcription .info .desc {
    margin: 15px 0 20px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
} 

.subcription .info .btn-link {
    padding: 18px 40px;
    border-radius: 12px;
    background: #FFF;
    color: #002366;
    font-size: 1.3rem;
    font-weight: 500;
}

/* Footer */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    color: #1C1C1D;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    color: #7A7A7E;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap; /* để chữ không xuống hàng */
}

.footer .desc {
    white-space: normal;
    line-height: 1.75;
}


.footer .social {
    margin-top: 40px;
    display: flex;
}

.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px; 
    height: 28px;
    background-color: #F9F9F9;
    border-radius: 4px;
    margin: 0 8px;
}

.footer .social-link:hover {
    background-color: #f1f1f1;
}

.footer .social-link:first-child{
    margin-left: 0;
}

.row-bottom {
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright {
    color: #C2C2C2;
    font-size: 1.4rem;
    font-weight: 400;
}


